body {
    background-color: #323232;
}

a {
    text-decoration: none;
    color: rgb(60, 120, 255);
}

.title a:hover {
    color: #777;
}

footer h3 {
    margin-bottom: 0;
}

footer section {
    margin-bottom: 12px;
}

.star, .read-button {
    align-self: flex-start;
    -webkit-align-self: flex-start;
    margin-right: -25px;
    float: left;
    -webkit-clip-path: inset(0 50% 0 0);
    clip-path: inset(0 50% 0 0);

    opacity: 0;
    transition: opacity 0.15s;
}
article:hover .star, article:hover .read-button {
    opacity: 1;
    transition: opacity 0.15s;
}
.star.active, .read-button.active{
    -webkit-clip-path: inset(0 0 0 50%);
    clip-path: inset(0 0 0 50%);
    margin-right: 0;
    margin-left: -25px;
    opacity: 1;
}
