body {
    background-color: #323232;
}

a {
    text-decoration: none;
    color: rgb(60, 120, 255);
}

.title a:hover {
    color: #777;
}

footer h3 {
    margin-bottom: 0;
}

footer section {
    margin-bottom: 12px;
}

.star, .read-button {
    align-self: flex-start;
    float: left;

    filter: invert(1.0);
    visibility: hidden;
    width: 24px;
    height: 24px;
}
.star {
    background-image: var(--star-empty);
}
.read-button {
    background-image: var(--read);
}
article:hover .star, article:hover .read-button {
    visibility: visible;
}
.star.active, .read-button.active{
    visibility: visible;
}
.star.active {
    background-image: var(--star-filled);
}
.read-button.active {
    background-image: var(--unread);
}
